@font-face {
    font-family: "Ubuntu";
    src: url("@fonts/ubuntu-regular.woff2") format("woff2"),
         url("@fonts/ubuntu-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

:root {
    ---yellow-green: #D9ED92;
    --light-yello-green: #B5E48C;
    --light-green: #52B69A;
    --green: #34A0A4;
    --light-blue: #168AAD;
    --light-midle-blue: #1A759F;
    --blue: #1E6091;
    --dark-blue: #184E77;
    --red: rgb(255, 0, 0);
    --light-red: rgba(255, 0, 0, 0.573);
    --letter1: white;
    --letter2: #807d85;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Ubuntu";
    font-size: 62.5%; /* 1rem = 10px */
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


/* 
1. position
2. box model
3. typograpy
4. visual
5. other
*/

/* 1 */
.container__form,
.container,
.product,
.container__products {
    display: flex;
}

.container__form {
    flex-flow: row wrap;
}

.container,
.product,
.container__products {
    flex-flow: column wrap;
}

.container {
    position: relative;
}

.hidden {
    display: none;
}

/* 2 */
.container {
    padding: 10px 5px;
    gap: 30px;
}

/* .container--greaterPadding {
    padding: 40px 5px;
} */

.message {
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 5px;
    text-align: center;
}

.container__form,
.product {
    gap: 5px;
}

.container__button,
.container__input,
.product__button {
    width: 100%;
}

.container__input {
    padding: 5px;
}

.container__products {
    gap: 12px;
}

.container__button,
.product__button {
    padding: 10px;
    border-radius: 6px;
    border: none;
}
/* 3 */
body {
    font-size: 1.6rem;
}

.container__button,
.container__input,
.product__button {
    font-family: "Ubuntu";
    font-weight: 700;
}
/* 4 */
.error,
.success,
.container__button,
.product__button {
    color: var(--letter1);
}
.error {
    background: var(--light-red);
}

.success {
    background: var(--light-green);
}

.container__button {
    background: var(--light-blue);    
}

.product__button {
    background: var(--light-red);
}
/* 5 */
.container__button:hover,
.product__button:hover {
    cursor: pointer;
}

.container__button:active,
.product__button:active {
    transform: scale(.98);
}

.container__input:focus {
    outline: none;
    color: var(--letter2);
}