@media (min-width: 500px) {
    .container__form,
    .product {
        gap: 10px 2%;
    }

    .container__button,
    .container__input,
    .product__item {
        width: 49%;
    }

    .product {
        flex-flow: row wrap;
    }
}